<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <body>
    <div style="display: flex; align-items: center; background-color: red;">
  <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
    Test
  </h1>
    <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
      Test
  </h1>
      <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
      Test
  </h1>
      <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
      Test
  </h1>
</div>

<div style="display: flex; align-items: center;">
  <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
    Test
  </textarea>
    <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
      <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
      <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
</div>

<div>
</div>

    <div style="display: flex; align-items: center; background-color: red; padding: 1rem">
      <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
        Test
      </h1>
        <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
          Test
      </h1>
          <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
          Test
      </h1>
          <h1 style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem">
          Test
      </h1>
    </div>

</div>
<div style="display: flex; align-items: center;">
  <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
    Test
  </textarea>
    <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
      <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
      <textarea style="flex-grow: 1; flex-shrink: 1; flex-basis: auto; font-size:150%; padding: 1rem; width: 15rem; height: 8rem">
      Test
  </textarea>
</div>
</body>
</head>
</html>