<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <STYLE>
        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
              float: left;
              font-size: 16px;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
        }

        .dropdown {
              float: left;
              overflow: hidden;
        }

        .dropdown .dropbtn {
              font-size: 16px;
              border: none;
              outline: none;
              color: white;
              padding: 14px 16px;
              background-color: inherit;
              font-family: inherit;
              margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
              background-color: red;
        }

        .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
        }

        .dropdown-content a {
              float: none;
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
        }

        .dropdown-content a:hover {
              background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
              display: block;
        }

        table, th, td {
             border: 1px solid black;
        }
    </STYLE>

    <body>
        <div class="navbar">
          <a href="/">Home</a>
          <a href="/index">Index</a>
          <div class="dropdown">
            <button class="dropbtn">Matrixen
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="/ausgabe">Enterprise</a>
              <a href="#">ICS</a>
              <a href="#">Mobile</a>
            </div>
          </div>
        </div>
        <h1>Keyword: {{ Keyword }}</h1>
        <h1>Results: {{ Result_Count }}</h1>

        <form style="margin:auto; max-width:500px" action="{% url 'success' %}" method="POST">
            {% csrf_token %}

            <input type="hidden" name="Tactics" value="{{ Tactics }}"/>
            <input type="hidden" name="Campaigns" value="{{ Campaigns }}"/>
            <input type="hidden" name="Groups" value="{{ Groups }}"/>
            <input type="hidden" name="Techniques" value="{{ Techniques }}"/>
            <input type="hidden" name="Mitigation" value="{{ Mitigations }}"/>
            <input type="hidden" name="Software" value="{{ Software }}"/>

            {% if Refs_Bool == "True"%}
                <input type="hidden" name="Tactics_Refs" value="{{ Tactics_Urls }}"/>
                <input type="hidden" name="Campaigns_Refs" value="{{ Campaigns_Urls }}"/>
                <input type="hidden" name="Groups_Refs" value="{{ Groups_Urls }}"/>
                <input type="hidden" name="Techniques_Refs" value="{{ Techniques_Urls }}"/>
                <input type="hidden" name="Mitigation_Refs" value="{{ Mitigations_Urls }}"/>
                <input type="hidden" name="Software_Refs" value="{{ Software_Urls }}"/>
            {% endif %}

            <input type="hidden" name="Keyword" value="{{ Keyword }}"/>
            <input type="hidden" name="Result_Count" value="{{ Result_Count }}"/>
            <input type="hidden" name="Refs_Bool" value="{{ Refs_Bool }}"/>

            <button type="submit"> Save Index</button>
        </form>

        <h1> Entries where the Keyword is stated in:</h1>

        {% if Tactics|length != 0 %}
        <button type="button" class="collapsible">Tactics: {{ Tactics|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Techniques</th>
            </tr>
            {% for i in Tactics %}
                <tr>
                    <td> <a href="https://attack.mitre.org/tactics/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>
                        {% for element in i.techniques.all %}
                            <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Campaigns|length != 0  %}
        <button type="button" class="collapsible">Campaigns: {{ Campaigns|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Groups</th>
                <th>Relations to Techniques</th>
                <th>Relations to Software</th>
            </tr>
            {% for i in Campaigns %}
                <tr>
                    <td> <a href="https://attack.mitre.org/campaigns/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>
                        {% for element in i.groups.all %}
                            <a href="https://attack.mitre.org/groups/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.techniques.all %}
                            <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.software.all %}
                            <a href="https://attack.mitre.org/software/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Groups|length != 0  %}
        <button type="button" class="collapsible">Groups: {{ Groups|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Campaigns</th>
                <th>Relations to Techniques</th>
                <th>Relations to Software</th>
            </tr>
            {% for i in Groups %}
                <tr>
                    <td> <a href="https://attack.mitre.org/groups/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>{% for element in i.campaigns_set.all %}
                            <a href="https://attack.mitre.org/campaigns/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>{% for element in i.techniques.all %}
                            <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>{% for element in i.software.all %}
                            <a href="https://attack.mitre.org/software/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Techniques|length != 0  %}
        <button type="button" class="collapsible">Techniques: {{ Techniques|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Tactics</th>
                <th>Relations to Campaigns</th>
                <th>Relations to Groups</th>
                <th>Relations to Software</th>
                <th>Relations to Mitigations</th>
            </tr>
            {% for i in Techniques %}
                <tr>
                    <td> <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>
                        {% for element in i.tactics_set.all %}
                            <a href="https://attack.mitre.org/tactics/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.campaigns_set.all %}
                            <a href="https://attack.mitre.org/campaigns/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.groups_set.all %}
                            <a href="https://attack.mitre.org/groups/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.software_set.all %}
                            <a href="https://attack.mitre.org/software/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.mitigations_set.all %}
                            <a href="https://attack.mitre.org/mitigations/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Mitigations|length != 0  %}
        <button type="button" class="collapsible">Mitigations: {{ Mitigations|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Techniques</th>
            </tr>
            {% for i in Mitigations %}
                <tr>
                    <td> <a href="https://attack.mitre.org/mitigations/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>
                        {% for element in i.techniques.all %}
                            <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Software|length != 0  %}
        <button type="button" class="collapsible">Software: {{ Software|length }} Findings</button>
        <table style="width:100%">
            <tr>
                <th>Mitre ID</th>
                <th>Name</th>
                <th>Relations to Campaigns</th>
                <th>Relations to Groups</th>
                <th>Relations to Techniques</th>
            </tr>
            {% for i in Software %}
                <tr>
                    <td> <a href="https://attack.mitre.org/software/{{i.mitre}}/" >{{i.mitre}}</a> </td>
                    <td>{{ i.name }} </td>
                    <td>
                        {% for element in i.campaigns_set.all %}
                            <a href="https://attack.mitre.org/campaigns/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.groups_set.all %}
                            <a href="https://attack.mitre.org/groups/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% for element in i.techniques.all %}
                            <a href="https://attack.mitre.org/techniques/{{i.mitre}}/" >{{element.mitre}} ;</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if Refs_Bool == "True"%}
            <h1>Referencen</h1>
            {% if Campaigns_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Campaigns: {{ Campaigns_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Campaigns_Urls %}
                        <tr>
                            <td>{{ i.campaign.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if Tactics_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Tactics: {{ Tactics_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Tactics_Urls %}
                        <tr>
                            <td>{{ i.tactic.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if Groups_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Groups: {{ Groups_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Groups_Urls %}
                        <tr>
                            <td>{{ i.group.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if Techniques_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Techniques: {{ Techniques_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Techniques_Urls %}
                        <tr>
                            <td>{{ i.technique.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if Software_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Software: {{ Software_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Software_Urls %}
                        <tr>
                            <td>{{ i.software.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if Mitigations_Urls|length != 0  %}
                <button type="button" class="collapsible">References in Mitigations: {{ Mitigations_Urls|length }} Findings</button>
                <table style="width:100%">
                    <tr>
                        <th>Mitre ID</th>
                        <th>URL</th>
                    </tr>
                    {% for i in Mitigations_Urls %}
                        <tr>
                            <td>{{ i.mitigation.mitre }}</td>
                            <td> <a href="{{i.external_references}}" > URL: {{i.external_references}}</a> </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        {% endif %}

        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>
    </body>
</html>